<style>
.section-link-{{section.id}} {border-bottom: 3px solid #4AA1BC; font-weight: 600;}
</style>

<section class="clearfix section-area">
  <div class="column third right">
    <h1>{{#if section.internal}}
      <!--<span class="visibility-internal" data-title="{{t 'internal'}}">
        <span class="visibility-internal-icon"></span>
      </span>-->
    {{/if}}     <nav class="sub-nav clearfix">
    </nav>{{section.name}}</h1>
  </div>
	<div class="two-thirds column">
    <nav class="home-nav">
      <a class="category-link-home" href="/hc">Home</a>
      <a class="category-link-201130146 section-link-201724756 section-link-201724746 section-link-201724726 section-link-201724716 section-link-201724736 section-link-201724766" href="/hc/en-us/categories/202620707-Knowledge-Base">Knowledge Base</a>
      <a class="category-link-201130176 section-link-201724836 section-link-201724816 section-link-201724826" href="/hc/en-us/community/posts/">Community</a>
    </nav>
    
    <div class="section-tree">{{#if section.articles}}
      <h3>{{section.name}}</h3>
      <ul class="article-list posts">
        {{#each section.articles}}
          <li {{#if promoted}} class="article-promoted" {{/if}} class="test">
            {{#if promoted}}
              <span data-title="{{t 'promoted'}}">★</span>
            {{/if}}
            <a href="{{url}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
    {{/if}}

    {{pagination}}</div>
  </div> 
</section>
