<style>
.category-link-201130176 {border-bottom: 3px solid #4AA1BC; font-weight: 600;}
  
.sorters-tab {border-bottom: 3px solid #4AA1BC; font-weight: 600;}
.btn {left: 10px; right: 10px} 
</style>
<div class="main-column-right">
    <p class="article-title">All Community Posts</p>
    <section class="topic-questions">

<nav class="community-sub-nav">
        <ul>
          {{#each sorters}}
            <li>
              {{#if selected}}
                <p class="sorters-tab">
                  {{name}}
                </p>
              {{else}}
                <a href="{{url}}" >
                  {{name}}
                </a>
              {{/if}}
            </li>
          {{/each}}
          <span>
       		 {{link 'new_post' role='button' class='btn'}}
      		</span>
        </ul>
              	
      </nav>

    {{#if posts}}
      <ul class="question-list">
        {{#each posts}}
          <li class="question {{#if has_official_comment}} question-official-answer {{/if}} {{#if featured}} post-featured {{/if}} {{#if pinned}} post-pinned {{/if}}">
            <h3 class="question-title">
              <a href="{{url}}">{{title}}</a>
            </h3>
            <div class="question-meta">
              <span class="question-author">
                {{#if author.url}}
                  <a href="{{author.url}}" target="_zendesk_lotus">
                    {{author.name}}
                  </a>
                {{else}}
                  {{author.name}}
                {{/if}}
              </span>
              <span class="question-published">
                {{date created_at timeago=true}}
              </span>
              <span class="question-votes">
                {{vote_sum}} {{t 'vote' count=vote_sum}}
              </span>
              <span class="question-answers">
                {{comment_count}} {{t 'comment' count=comment_count}}
              </span>
              {{! Show the post status, if any }}
              {{#is status 'none'}}
              {{else}}
                <span class="post-{{status_dasherized}}">{{status_name}} </span>
              {{/is}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{t 'no_content'}}</p>
    {{/if}}

    {{pagination}}

  </div>
</div>