<!-- add code here that should appear in the document head -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="Cv3mjVNJrKQqXckFvmcIEXN_GNMgIgE4lpwpKhYZdl0" />
<meta name="google-site-verification" content="Cv3mjVNJrKQqXckFvmcIEXN_GNMgIgE4lpwpKhYZdl0" />

<!--Bootstrap Code --> 

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--End Bootstrap Code-->