<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <footer class="footer-blue">
        <div class="footer-inner">
            <div class="clearfix">
                <div class="logos column">
                    <a href="http://lucidchart.com/"><img height="25" src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidchartlogo.png"></a>
                    <a href="http://lucidpress.com/"><img height="25" src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidpresslogo.png">
                    </a> <a href="http://golucid.co/"><img height="25" src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidsoftware.png">
                    </a>
                </div>
                <div class="social column right">
                    <a href="//twitter.com/lucidpress"><img src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/twitter-white.png"></a>
                    <a href="//www.facebook.com/lucidpress"><img src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/facebook-white.png">
                    </a> <a href=
                    "//plus.google.com/+LucidpressDesign/posts"><img src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/gplus-white.png">
                    </a> <a href=
                    "//www.youtube.com/user/lucidpressapp"><img src=
                    "//p2.zdassets.com/hc/theme_assets/201415/200000680/youtube-white.png">
                    </a>
                </div>
            </div>
            <div class="clearfix footer-links">
                <ul class="left">
                    <li style="list-style: none; display: inline">
                        <h3>Lucidpress</h3>
                    </li>
                    <li style="position: relative;">
						            <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#tour-flyout">Tour</a>
                        <ul class="footer-submenu-flyout" id="tour-flyout">
                           <li>
                               <a href="https://www.lucidpress.com/pages/tour">Features</a>
                           </li>
                           <li>
                               <a href="https://www.lucidpress.com/pages/tour/free-microsoft-publisher-alternative">Microsoft Publisher alternative</a>
                           </li>
                           <li>
                               <a href="https://www.lucidpress.com/pages/tour/microsoft-publisher-for-mac">Microsoft Publisher for Mac</a>
                           </li>
                           <li>
                               <a href="https://www.lucidpress.com/pages/tour/free-indesign-alternative-online">InDesign alternative</a>
                          </li>
                       </ul>
					          </li>
                    <li style="position: relative;">
                        <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#documents-flyout">Documents</a>
                        <ul class="footer-submenu-flyout" id="documents-flyout">
                        <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-brochure-maker-online">
                                Brochure maker</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-flyer-maker-online">
                                Flyer maker</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/free-microsoft-publisher-alternative">
                                Microsoft Publisher alternative</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-digital-magazine-software">
                                Magazine software</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/microsoft-publisher-for-mac">
                                Microsoft Publisher for mac</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-newsletter-software">
                                Newsletter software</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/free-indesign-alternative-online">
                                InDesign alternative</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-pamphlet-maker-online">
                                Pamphlet maker</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-online-poster-maker">
                                Poster maker</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=
                        "https://www.lucidpress.com/users/registerLevel">Sign
                        Up</a>
                    </li>
                    <li>
                        <a href=
                        "https://www.lucidpress.com/pages/tour">Tour</a>
                    </li>
                </ul>
                <ul class="left">
                    <li style="list-style: none; display: inline">
                        <h3>About</h3>
                    </li>
                    <li>
                        <a href=
                        "https://www.lucidpress.com/pages/press">Press</a>
                    </li>
                    <li>
                        <a href=
                        "https://www.lucidpress.com/pages/tos">Terms</a>
                    </li>
                    <li>
                        <a href=
                        "https://www.lucidpress.com/pages/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href=
                        "http://lucidpress.zendesk.com/hc/en-us/requests/new">Contact</a>
                    </li>
                </ul>
                <ul class="left">
                    <li style="list-style: none; display: inline">
                        <h3>Resources</h3>
                    </li>
                    <li>
                        <a href=
                        "http://support.lucidpress.com/categories/20121236-Tutorials">
                        Tutorials</a>
                    </li>
                    <li style="position: relative;">
                        <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#templates-flyout">Templates</a>
                        <ul class="footer-submenu-flyout" id="templates-flyout">
                        <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-brochure-maker-online">
                                Brochure Templates</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-flyer-maker-online">
                                Flyer maker</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/free-microsoft-publisher-alternative">
                                Microsoft Publisher alternative</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-digital-magazine-software">
                                Magazine software</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/microsoft-publisher-for-mac">
                                Microsoft Publisher for mac</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-newsletter-software">
                                Newsletter software</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/tour/free-indesign-alternative-online">
                                InDesign alternative</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-pamphlet-maker-online">
                                Pamphlet maker</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/examples/free-online-poster-maker">
                                Poster maker</a>
                            </li>
                        </ul>
                    </li>
                    <li style="position: relative;">
                        <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#howto-flyout">How-To</a>
                        <ul class="footer-submenu-flyout" id="howto-flyout">
                        <li>
                                <a href=
                                "https://www.lucidpress.com/pages/how-to-make-a-brochure">
                                How to Make a Brochure</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/how-to-make-a-flyer">
                                How to Make a Flyer</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/how-to-make-a-magazine">
                                How to Make a Magazine</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/how-to-make-a-newsletter">
                                How to Make a Newsletter</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.lucidpress.com/pages/how-to-make-a-poster">
                                How to Make a Poster</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://www.lucidpress.com/blog/">Blog</a>
                    </li>
                </ul>
                <ul class="left">
                    <li style="list-style: none; display: inline">
                        <h3>Lucid Software</h3>
                    </li>
                    <li>
                        <a href="https://www.lucidchart.com/">Lucidchart</a>
                    </li>
                    <li>
                        <a href="https://www.lucidpress.com/" target=
                        "_blank">Lucidpress</a>
                    </li>
                    <li>
                        <a href="https://www.golucid.co/#team">Team</a>
                    </li>
                    <li>
                        <a href="https://www.golucid.co/jobs">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>