<style>
.category-link-home {border-bottom: 3px solid #4AA1BC; font-weight: 600;}
</style>

<section class="clearfix">
 
  <div class="side-column">
    
    <div class="links-list">
      <div class="panel panel-home">
          <div class="panel-heading-home">     
            <a style="color: #3D4752; font-size: 19px;" class="accordion-toggle" href="#collapseOne" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                hitType: 'event',
                eventCategory: 'popularUseCases',
                eventAction: 'open',
                eventLabel: 'popularUseCasesAccordion'
              });">
              Popular Articles
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body-home">
              <ul>
                <li>
                  <div class="panel panel-home">
                    <div class="panel-heading-home">     
                      <a style="color: #3D4752; font-size: 16px;" class="accordion-toggle collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                          hitType: 'event',
                          eventCategory: 'popularContent',
                          eventAction: 'open',
                          eventLabel: 'diagrammingBasicsAccordion'
                        });">
                        Create and Customize Documents
                      </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body-home">
                        <ul>
                          <li>
                            <a href="/hc/en-us/articles/207335456-Work-with-text" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'editText'
                            });">Edit and Format Text</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335476-Work-with-images" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'addFormatImages'
                            });">Add and Format Images</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335416-Change-page-settings" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'formatPageSettings'
                            });">Format Page Settings</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335566-Custom-Fonts" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'customFonts'
                            });">Custom Fonts</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="panel panel-home">
                    <div class="panel-heading-home">     
                      <a style="color: #3D4752; font-size: 16px;" class="accordion-toggle collapsed" href="#collapseFive" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                          hitType: 'event',
                          eventCategory: 'popularContent',
                          eventAction: 'open',
                          eventLabel: 'integrationsAccordion'
                        });">
                        Print and Publish
                      </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body-home">
                        <ul>
                          <li>
                            <a href="/hc/en-us/articles/207335586" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'publishYourDocument'
                            });">Publish Your Document</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335576-Share-Documents" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'shareDocuments'
                            });">Share Documents</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335646" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'CMYKColorProfiles'
                            });">CMYK Color Profiles</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335556" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'embedFontsInPDFs'
                            });">Embed Fonts in PDFs</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- <li>
                  <div class="panel panel-home">
                    <div class="panel-heading-home">     
                      <a style="color: #3D4752; font-size: 16px;" class="accordion-toggle collapsed" href="#collapseFour" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                          hitType: 'event',
                          eventCategory: 'popularContent',
                          eventAction: 'open',
                          eventLabel: 'accountSettingsAccordion'
                        });">
                        Account Settings
                      </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body-home">
                        <ul>
                          <li>
                            <a href="/hc/en-us/articles/207299826-Transfer-Documents-" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'transferDocuments'
                            });">Transfer Documents</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/211207823-Three-Active-Document-Limit" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'docLimit'
                            });">Three Active Document Limit</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207324126-How-do-I-cancel-my-subscription-" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'cancelSubscription'
                            });">Cancel Your Subscription</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207324096-Getting-Started-with-an-Educational-Account" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'eduAccount'
                            });">Get Started with an Educational Account</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li> --> 
                <li>
                  <div class="panel panel-home">
                    <div class="panel-heading-home">     
                      <a style="color: #3D4752; font-size: 16px;" class="accordion-toggle collapsed" href="#collapseSix" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                          hitType: 'event',
                          eventCategory: 'popularContent',
                          eventAction: 'open',
                          eventLabel: 'teamManagementAccordion'
                        });">
                        Team Management
                      </a>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                      <div class="panel-body-home">
                        <ul>
                          <li>
                            <a href="/hc/en-us/articles/207335596" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'teamManagement'
                            });">Create and Manage Teams</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207947916" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'integrateWithGoogleApps'
                            });">Integrate with Google Apps</a>
                          </li>
                          <li>
                            <a href="/hc/en-us/articles/207335446" onClick= "ga('send', {
                              hitType: 'event',
                              eventCategory: 'homePage',
                              eventAction: 'navigateToArticle',
                              eventLabel: 'googleClassroomIntegration'
                            });">Google Classroom Integration</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </br> 

    <div class="links-list">
      <div class="panel panel-home">
          <div class="panel-heading-home">     
            <a style="color: #3D4752; font-size: 19px;" class="accordion-toggle" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
                hitType: 'event',
                eventCategory: 'popularUseCases',
                eventAction: 'open',
                eventLabel: 'popularUseCasesAccordion'
              });">
              Join the Community 
            </a>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse in">
            <div class="panel-body-home">
              <ul>
                <li>
                  <a href="/hc/en-us/articles/209013266-Lucidpress-Trusted-Tester-Program" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'homePage',
                    eventAction: 'navigateToArticle',
                    eventLabel: 'TTProgram'
                  });">Trusted Tester Program</a>
                </li>
                <li>
                  <a href="/hc/en-us/articles/209013286-Lucidpress-Top-Contributor-Program" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'homePage',
                    eventAction: 'navigateToArticle',
                    eventLabel: 'TCProgram'
                  });">Top Contributor Program</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>

    </br> 

    <div class="links-list">
      <div class="panel panel-home">
        <div class="panel-heading-home">     
          <a style="color: #3D4752; font-size: 19px;" class="accordion-toggle collapsed" href="#collapseEight" data-toggle="collapse" data-parent="#accordion2" onClick= "ga('send', {
              hitType: 'event',
              eventCategory: 'popularUseCases',
              eventAction: 'open',
              eventLabel: 'popularUseCasesAccordion'
            });">
            Popular Use Cases
          </a>
        </div>
        
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body-home">
            <ul>
              <li class="menu-126 first"><a href="https://www.lucidpress.com/pages/examples/free-brochure-maker-online" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'brochureMaker'
                  });" target="_blank" title="Brochure maker">Brochure Maker</a></li>
              <li class="menu-127"><a href="https://www.lucidpress.com/pages/examples/free-flyer-maker-online" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'flyerMaker'
                  });" target="_blank" title="Flyer maker">Flyer Maker</a></li>
              <li class="menu-132"><a href="https://www.lucidpress.com/pages/examples/free-digital-magazine-software" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'magazineSoftware'
                  });" target="_blank" title="Magazine software">Magazine Software</a></li>
              <li class="menu-133"><a href="https://www.lucidpress.com/pages/examples/free-newsletter-software" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'newsletterSoftware'
                  });" target="_blank" title="Newsletter software">Newsletter Software</a></li>
              <li class="menu-128"><a href="https://www.lucidpress.com/pages/tour/free-indesign-alternative-online" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'inDesignAlternative'
                  });" target="_blank" title="InDesign alternative">InDesign Alternative</a></li>
              <li class="menu-915"><a href="https://www.lucidpress.com/pages/examples/free-pamphlet-maker-online" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'pamphletMaker'
                  });" target="_blank" title="Pamphlet maker">Pamphlet Maker</a></li>
              <li class="menu-913"><a href="https://www.lucidpress.com/pages/examples/free-online-poster-maker" onClick= "ga('send', {
                    hitType: 'event',
                    eventCategory: 'popularUseCases',
                    eventAction: 'navigateToPage',
                    eventLabel: 'posterMaker'
                  });" target="_blank" title="Poster maker">Poster Maker</a></li>
            </ul>  
          </div>
        </div> 
      </div>
    </div>
  
  </div>
  
  <div class="main-column">
    <div class="clearfix">
      <div class="column half home-article">
        <a href="/hc/en-us/articles/207335796-Account-levels-and-adding-extra-storage"><img src="//p4.zdassets.com/hc/theme_assets/352613/200005088/lucidpress-account-types.png"></a>
        <h3><a href="/hc/en-us/articles/207335796-Account-levels-and-adding-extra-storage">Account Types</a></h3>
      </div>
      <div class="column half home-article">
        <a href="/hc/en-us/articles/207335436-Get-familiar-with-the-Lucidpress-Editor"><img src="//p4.zdassets.com/hc/theme_assets/352613/200005088/lucidpress-getting-started.png"></a>
        <h3><a href="/hc/en-us/articles/207335436-Get-familiar-with-the-Lucidpress-Editor">Getting Started Guide</a></h3>
      </div>
    </div>
    
    <div class="clearfix">
      <div class="column half home-article">
        <a href="/hc/en-us/articles/207335406-InDesign-Import"><img src="//p4.zdassets.com/hc/theme_assets/352613/200005088/lucidpress-import-export.png"></a>
        <h3><a href="/hc/en-us/articles/207335406-InDesign-Import">Import Documents</a></h3>
      </div>
      <div class="column half home-article">
        <a href="/hc/en-us/articles/207335576-Share-with-collaborators"><img src="//p4.zdassets.com/hc/theme_assets/352613/200005088/lucidpress-collaborate.png"></a>
        <h3><a href="/hc/en-us/articles/207335576-Share-with-collaborators">Collaborate and Share</a></h3>
      </div>
    </div>
  </div>  
</section>