<footer class="footer">
  <!-- Main Div --> 
  <div class="footer-inner">
    
    <!-- Logos --> 
    <div class="clearfix">
      <!-- Lucid Logos-->
      <div class="logos column">
        <a href="http://lucidchart.com/"><img height="25" src=                                       "//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidchartlogo.png"></a>
        <a href="http://lucidpress.com/"><img height="25" src="//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidpresslogo.png"></a>
        <a href="http://golucid.co/"><img height="25" src="//p2.zdassets.com/hc/theme_assets/201415/200000680/lucidsoftware.png"></a>
      </div>
      <!--End Lucid Logos -->
      
      <!--Social Logos --> 
      <div class="social column right">
        <a href="//twitter.com/lucidchart"><img src="//p2.zdassets.com/hc/theme_assets/201415/200000680/twitter-white.png"></a>
        <a href="//www.facebook.com/lucidchart"><img src="//p2.zdassets.com/hc/theme_assets/201415/200000680/facebook-white.png"></a>
        <a href="//plus.google.com/111464091826472565111/posts"><img src="//p2.zdassets.com/hc/theme_assets/201415/200000680/gplus-white.png"></a>
        <a href="//www.youtube.com/user/lucidchart"><img src="//p2.zdassets.com/hc/theme_assets/201415/200000680/youtube-white.png"></a>
      </div>
      <!-- End Social logos --> 
    </div>
    <!-- End Logos --> 
    
    <!-- Footer Links --> 
    <div class="clearfix footer-links">
      <ul class="left">
        <li style="list-style: none; display: inline">
          <h3>Lucidchart</h3>
        </li>
        <li style="position: relative;">
          <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#tour-flyout">Tour</a>
          <ul class="footer-submenu-flyout" id="tour-flyout">
            <li>
              <a href="https://www.lucidchart.com/pages/tour">Features</a>
            </li>
            <li>
              <a href="https://www.lucidchart.com/pages/tour/visio_alternative">Visio online</a>
            </li>
            <li>
              <a href="https://www.lucidchart.com/pages/tour/visio_for_mac">Visio for Mac</a>
            </li>
          </ul>
        </li>
        <li style="position: relative;">
          <a class="submenu-btn" href="javascript:void(0)" data-flyout-target="#examples-flyout">Examples</a>
          <ul class="footer-submenu-flyout" id="examples-flyout">
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/flowchart_software">Flowchart</a>
            </li>
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/wireframe_software">Wireframe</a>
            </li>
            <li>
              <a href="https://lucidchart.com/pages/examples/uml_diagram_tool">UML diagram</a>
            </li>
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/android_mockup_tool">Android mockup</a>
            </li>
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/iphone_mockup_tool">iPhone mockup</a>
            </li>
            <li>
              <a href="https://lucidchart.com/pages/examples/ipad-mockup-tool">iPad mockup</a>
            </li>
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/business_process_modeling">Business process</a>
            </li>
            <li>
              <a href="https://lucidchart.com/pages/examples/orgchart_software">Org chart</a>
            </li>
            <li>
              <a href=
                 "https://lucidchart.com/pages/examples/network_diagram_software">Network diagram</a>
            </li>
            <li>
              <a href="https://lucidchart.com/pages/examples/sitemap_creator">Site map</a>
            </li>
            <li>
              <a href="https://lucidchart.com/pages/examples/venn_diagram_maker">Venn diagram</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://lucidchart.com/users/registerLevel">Pricing</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/customers">Customers</a>
        </li>
      </ul>
      <ul class="left">
        <li style="list-style: none; display: inline">
          <h3>About</h3>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/press">Press</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/tos">Terms</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/privacy">Privacy</a>
        </li>
        <li>
          <a href="/hc/en-us/requests/new">Contact</a>
        </li>
      </ul>
      <ul class="left">
        <li style="list-style: none; display: inline">
          <h3>Community</h3>
        </li>
        <li>
          <a href="http://support.lucidchart.com/">Forums</a>
        </li>
        <li>
          <a href="https://lucidchart.com/community/examples">Gallery</a>
        </li>
        <li>
          <a href=
             "http://support.lucidchart.com/categories/20063795-Tutorials">Tutorials</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/api_documentation">Developers</a>
        </li>
      </ul>
      <ul class="left">
        <li style="list-style: none; display: inline">
          <h3>Partners</h3>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/google_apps_guidelines">G Suite</a>
        </li>
        <li>
          <a href=
             "http://www.lucidchart.com/blog/2012/04/23/introducing-lucidchart-integration-with-google-drive/"
             target="_blank">Google Drive</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/tour/confluence">Confluence</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/tour/jive">Jive</a>
        </li>
      </ul>
      <ul class="left">
        <li style="list-style: none; display: inline">
          <h3>Lucid Software</h3>
        </li>
        <li>
          <a href="https://www.lucidchart.com/">Lucidchart</a>
        </li>
        <li>
          <a href="http://www.lucidpress.com/" target="_blank">Lucidpress</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/about">Team</a>
        </li>
        <li>
          <a href="https://lucidchart.com/pages/jobs">Jobs</a>
        </li>
      </ul>
    </div>
    <!-- End Foooter Links --> 
  </div>
  <!-- Main Div --> 
  
</footer>